Repository 0x7FFFFFFFFFFFFFFF/espanso: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, check-todos

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

check-todos:
  name: Check for TODO comments
  entry: nu -c 'if (rg "TODO" | complete).exit_code == 0 { exit 1 } else { exit 0 }'
  language: system
  pass_filenames: false

:rotating_light: clippy changes (#2430)
  espanso-config/src/matches/store/default.rs
  espanso-config/src/matches/store/mod.rs
  espanso-render/src/renderer/resolve.rs
  espanso/src/cli/worker/config.rs
  espanso/src/cli/worker/engine/process/middleware/matcher/convert.rs
  espanso/src/cli/worker/engine/process/middleware/render/mod.rs
  espanso/src/gui/modulo/search.rs
Due: cargo-fmt, check-todos

release v2.2.5 (#2462)
  espanso/Cargo.toml
Due: check-todos

Add SignPath to sponsors (#2465)
  Cargo.lock
  README.md
Due: check-todos

Fix macos build tasks (#2466)
  .github/CODEOWNERS
  .github/workflows/create-release-draft.yml
  .gitignore
  .vscode/tasks.json
  docs/src/ch03-02-macos.md
  docs/src/ch04-01-creating-a-pr.md
  docs/src/ch04-03-creating-a-release.md
Due: check-todos

:bug: Change panic to warning for console attachment error (#2468)
  espanso/src/main.rs
Due: cargo-fmt, check-todos

:adhesive_bandage: comment out failing step in the CI (#2469)
  .github/workflows/ci.yml
Due: check-todos

:bug: fix failing Windows CI due to missing iscc (#2472)
  .github/workflows/dev-release.yml
  scripts/build_windows_installer.ps1
  scripts/build_windows_portable.ps1
  scripts/build_windows_resources.ps1
Due: check-todos

:bug: replace curl script by choco install
  .github/workflows/dev-release.yml
Due: check-todos

:bookmark: release v2.2.6 (#2473)
  Cargo.lock
  docs/src/ch04-03-creating-a-release.md
  espanso/Cargo.toml
Due: check-todos

:bug: add the install inno setup in create-release ci (#2476)
  .github/workflows/ci.yml
  .github/workflows/create-release-draft.yml
  .github/workflows/dev-release.yml
Due: check-todos

:bookmark: release v2.2.7 (#2478)
  Cargo.lock
  espanso/Cargo.toml
  scripts/build_windows_installer.ps1
Due: check-todos

:fire: remove `homebrew-espanso` tap (#2487)
  scripts/publish_homebrew_version.sh
  scripts/resources/macos/formula_template.rb
Due: check-todos

:sparkles: add rust-toolchain step (#2490)
  .github/workflows/ci-arm.yml
  .github/workflows/ci.yml
  .github/workflows/create-release-draft.yml
  .github/workflows/dev-release.yml
Due: check-todos

:bug: fix ci yaml (#2492)
  .github/workflows/ci-arm.yml
  .github/workflows/ci.yml
  .github/workflows/create-release-draft.yml
Due: check-todos

fix ci again (#2495)
  .github/workflows/ci-arm.yml
  .github/workflows/dev-release.yml
Due: check-todos

Fix subcommand help displaying main help instead of specific help (#2483) (#2500)
  espanso/src/main.rs
Due: cargo-fmt, check-todos

Fix json label replace (#1702) (#2501)
  espanso/src/cli/match_cli/list.rs
Due: cargo-fmt, check-todos

Fix empty triggers causing expansion on every word separator (#1616) (#2508)
  espanso-config/src/matches/group/loader/yaml/mod.rs
Due: cargo-fmt, check-todos

Fix numpad Enter not confirming choices in search menu (#1618) (#2507)
  espanso-modulo/src/sys/search/search.cpp
Due: check-todos

Restore launching from app bundle on macos (#2505)
  espanso/src/main.rs
Due: cargo-fmt, check-todos

Fix utf8 bom parsing (#2510) (#2512)
  espanso-config/src/config/parse/yaml.rs
  espanso-config/src/matches/group/loader/yaml/parse.rs
Due: cargo-fmt, check-todos

Fix "kdotool missing or not available" on macOS (#2509) (#2514)
  espanso/src/main.rs
Due: cargo-fmt, check-todos

Prefer the GHA-provided rust tooling (#2521)
  .github/workflows/ci-arm.yml
  .github/workflows/ci.yml
  .github/workflows/create-release-draft.yml
  .github/workflows/dev-release.yml
Due: check-todos

Add support for .yaml extension for config and match files (#2184) (#2519)
  espanso-config/src/config/mod.rs
  espanso-config/src/config/resolve.rs
  espanso-config/src/config/store.rs
  espanso-modulo/src/sys/search/search.cpp
  espanso/src/cli/edit.rs
  espanso/src/cli/modulo/troubleshoot.rs
  espanso/src/cli/path.rs
  espanso/src/config.rs
  espanso/src/main.rs
  espanso/src/res/config/base.yaml
  espanso/src/res/config/default.yaml
Due: cargo-fmt, check-todos

:rewind: revert default back to `yml` extension (#2523)
  espanso-config/src/config/mod.rs
  espanso-config/src/config/resolve.rs
  espanso-config/src/config/store.rs
  espanso/src/cli/edit.rs
  espanso/src/cli/modulo/troubleshoot.rs
  espanso/src/cli/path.rs
  espanso/src/config.rs
  espanso/src/main.rs
  espanso/src/res/config/base.yml
  espanso/src/res/config/default.yml
Due: cargo-fmt, check-todos

feat: Add max_regex_buffer_size config option (#2504)
  .vscode/settings.json
  espanso-config/src/config/default.rs
  espanso-config/src/config/mod.rs
  espanso-config/src/config/parse/mod.rs
  espanso-config/src/config/parse/yaml.rs
  espanso-config/src/config/resolve.rs
  espanso/src/cli/worker/engine/mod.rs
  espanso/src/patch/patches/mod.rs
  espanso/src/res/config/default.yml
  schemas/config.schema.json
Due: cargo-fmt, check-todos

:art: update biomejs formatting and format the code (#2524)
  .vscode/settings.json
  .vscode/tasks.json
  biome.json
  schemas/config.schema.json
  schemas/match.schema.json
Due: check-todos

Fix date extension crash on invalid format (#993) (#2516)
  espanso-render/src/extension/date.rs
Due: cargo-fmt, check-todos

Replace markdown library to fix nested lists rendering (#2217) (#2515)
  Cargo.lock
  espanso-engine/Cargo.toml
  espanso-engine/src/process/middleware/markdown.rs
Due: cargo-fmt, check-todos

Add timezone support to date extension (#2225) (#2526)
  Cargo.lock
  Cargo.toml
  espanso-render/Cargo.toml
  espanso-render/src/extension/date.rs
  schemas/match.schema.json
Due: cargo-fmt, check-todos

:memo: update developer docs (#2527)
  .github/workflows/ci.yml
  .gitignore
  docs/src/ch04-02-recipes-and-cookbook.md
Due: check-todos

:bookmark: release v2.3.0 (#2528)
  Cargo.lock
  docs/src/ch04-03-creating-a-release.md
  espanso/Cargo.toml
Due: check-todos

Add support for dynamic offset variables in date extension
  espanso-render/src/extension/date.rs
  schemas/match.schema.json
Due: cargo-fmt, check-todos

Replace deprecated serde_yaml with serde_norway
  Cargo.lock
  Cargo.toml
  espanso-config/Cargo.toml
  espanso-config/src/config/parse/yaml.rs
  espanso-config/src/matches/group/loader/yaml/mod.rs
  espanso-config/src/matches/group/loader/yaml/parse.rs
  espanso-config/src/matches/group/loader/yaml/util.rs
  espanso-package/Cargo.toml
  espanso-package/src/archive/mod.rs
  espanso-package/src/archive/read.rs
  espanso-package/src/archive/util.rs
  espanso-package/src/manifest.rs
  espanso/Cargo.toml
  espanso/src/cli/modulo/form.rs
  espanso/src/cli/modulo/search.rs
Due: cargo-fmt, check-todos

Apply cargo fmt formatting
  espanso-config/src/matches/group/loader/yaml/util.rs
Due: cargo-fmt, check-todos

:hammer: fix macOS vs code tasks (#2535)
  .vscode/tasks.json
Due: none

:hammer: Added benchmark script (#2534)
  docs/src/ch04-02-recipes-and-cookbook.md
Due: check-todos

Add trim option to script extension schema (#2552)
  schemas/match.schema.json
Due: check-todos

fix: check for both .yml and .yaml extensions before generating default files (#2558)
  espanso/src/config.rs
Due: cargo-fmt, check-todos

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .vscode/
  |.devcontainer/
  |docs/.vscode/
)

  check-todos: any of: .*, but not: (?x)^(
  .vscode/
  |.devcontainer/
  |docs/.vscode/
)

